@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
#container {
    font-family: 'Noto Sans KR', sans-serif;
    overflow: auto;
    width: 350px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url("image/background.png");
    padding-bottom: 1rem;
}

#addParcel {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


