@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
#container {
  font-family: 'Noto Sans KR', sans-serif;
  overflow: auto;
  width: 350px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: url("image/background.png");
  padding-bottom: 1rem;
}

#title {
  margin-top: 1.2rem;
  color: aliceblue;          
  font-size:x-small;
  text-align: center;
}

.noti-box {
  margin: 0 auto 7px auto;
  width: 170px;
  height: 40px;
  text-align: center;
  font-size:medium;
  display: flex;
  border-radius: 5px;
  padding-left: 1rem;
}

.box-text {
  line-height: 40px;
  vertical-align: middle;
  color: aliceblue;
}
      
#checkcycle {
  border: 1px solid #cffc66;
  width: 90px;
  height: 30px;
  margin-top: 6px;
  margin-left: 43px;
  border-radius: 10px;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 0.8em;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 12px) calc(1em + 0.7px),
    calc(100% - 7px) calc(1em + 0.7px), calc(100% - 0.3em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  display: table;
  margin: 20px auto 0 auto;
  width: 60px;
  height: 30px;
  background-color: #292928;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: aliceblue;
}


input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  width: 30px;
  height: 10px;
  cursor: pointer;
  position: relative;
  background-color: rgba(183, 187, 183, 0.705);
  margin-top: 7px;
  margin-left: 80px;
  border-radius: 25px;
  padding: 0.5rem;
}

label::before {
  content: "";
  display: block;
  width: 6px;
  height: 3px;
  left: 4px;
  bottom: 4px;
  position: absolute;
  background-color: #ffffff;
  transition: all 0.4s ease;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0.5rem;
}

input:checked + label {
  background-color: rgb(209, 230, 120);
}
input:checked + label::before {
  transform: translateX(15px);
}

lable.round {
  border-radius: 34px;
}
lable.round::before {
  border-radius: 50%;
}
